<!DOCTYPE html>
<html>
  <head>

    <title>Deep Cube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">

    <link href="/static/bootstrap.css" rel="stylesheet">
<link rel="stylesheet"
      href="/static/main.css">



  </head>
  <body>


<div class="container">
  <center>
  <h2>Solve the Rubik's Cube Using Deep Learning</h2>
	<div id="program_container" class="container">
		<div id="solution_container" class="container">
			<button disabled id="first_state" type="button">初始打乱状态</button>
			<button disabled id="prev_state" type="button">&#060;</button>
			<button disabled id="next_state" type="button">&#062;</button>
			<button disabled id="last_state" type="button">&#062;&#062;</button>
			<h4 id="solution_text">Solution:</h4>
		</div>

		<div id="cube_div" class="container" style="padding: 60px">
			<h4 id="cube_name">机器魔方</h4>
			<section class="cube_container">
				<div id="cube">
					<figure id="front" class="front">
					</figure>
					<figure id="back" class="back">
					</figure>
					<figure id="right" class="right">
					</figure>
					<figure id="left" class="left">
					</figure>
					<figure id="top" class="top">
					</figure>
					<figure id="bottom" class="bottom">
					</figure>
				</div>
			</section>
		</div>
<br>
		<div id="mycube_div" class="container" style="padding: 60px">
			<h4 id="mycube_name">玩家魔方</h4>
			<section class="cube_container">
				<div id="mycube">
					<figure id="myfront" class="front">
					</figure>
					<figure id="myback" class="back">
					</figure>
					<figure id="myright" class="right">
					</figure>
					<figure id="myleft" class="left">
					</figure>
					<figure id="mytop" class="top">
					</figure>
					<figure id="mybottom" class="bottom">
					</figure>
				</div>
			</section>
		</div>
		玩家魔方计步器Demo（小写正步大写逆步）:
<input type="text" name="firstname" style="width:1000px; height:20px;" value="">

<br>
		<div id="button_container" class="container">
			<button disabled id="scramble" type="button">Scramble</button>
			<button disabled id="solve" type="button">Solve!</button>
		</div>
	</div>
  </center>
</div>

<br>
<center>
	<h4>
		Use the mouse to turn the cube. &#13;&#10;
	</h4>
	<h4>
		Turn the faces with the U/D/L/R/B/F keys.
		Hold shift to turn faces couter-clockwise.
	</h4>
	<h4>
		Press scramble to randomly scramble the cube.
		Press solve to solve the cube using deep learning!
	</h4>
</center>

<br>
<div class="well well-lg">
	<center>
	<span class="name">李少鹤 刘世豪 高级软件工程 2019</span>
	<span class="ref"><a href="http://deepcube.igb.uci.edu/">ref:DeepCubeA</a></span>
	</center>
</div>





<script src="/static/jquery.js"></script>
<!--script src="/static/jquery.min.js"></script-->
<script src="/static/main.js"></script>

<script src="/static/jquery1.js"></script>
<script src="/static/bootstrap.js"></script>
  </body>
</html>
